body {
    background-image: url("https://cdn.pixabay.com/photo/2016/11/29/04/42/conifer-1867371_960_720.jpg");
    background-repeat: no-repeat;
    background-color: darkgreen;
    background-size: 2150px 1100px;
}
h1 {
    font-size: 100px;
    color: white;
    text-shadow: 4px 4px 7px darkolivegreen;
}
p.main {
    font-size: 50px;
    color: white;
}
img {
    float: left;
    height: 400px;
}
p {
    font-size: 25px;
    color:white;
}

p.second {
    color: white;
}