body {
    background-image: url("https://media.giphy.com/media/1pnXEthh30QtzMZ57w/giphy.gif");
    background-repeat: no-repeat;
    background-size: 2200px 1100px;
}

h1 {
    font-size: 100px;
    color: turquoise;
    text-shadow: 4px 4px 7px pink;

}

nav {
    font-size: 25px;
}

p.main {
    font-size: 50px;
}

ol {
    font-size: 40px;
}

p.second {
    color: black;
}

li.bam {
    display: inline;
}