body {
    background-image: url("https://media.giphy.com/media/1pnXEthh30QtzMZ57w/giphy.gif");
    background-repeat: no-repeat;
    background-size: 2200px 1100px;
}

h1 {
    font-size: 100px;
    color: turquoise;
    text-shadow: 4px 4px 7px pink;

}

p {
    font-size: 25px;
}

p1 {
    font-size: 50px;
}

li {
    font-size: 40px;
}

p2 {
    color: white;
}