body {
    background-image: url("https://media.giphy.com/media/3ohzdGMNkCTRcUvCvu/giphy.gif");
    background-repeat: no-repeat;
    background-color: rgb(20, 20, 20);
    background-size: 2200px 1100px;
}

h1 {
    font-size: 100px;
    color: rgb(170, 15, 170);
    text-shadow: 4px 4px 7px rgb(4, 4, 245);
}

p {
    font-size: 25px;
}

p1 {
    font-size: 50px;
    color: black;
}

p2 {
    color: white;
}