/* The animation code */
@keyframes example {
    0% {color: white; left:0px; top:0px;}
    25% {color: greenyellow; left:200px; top:0px;}
    50% {color: blue; left:200px; top:200px;}
    75% {color: red; left:0px; top:200px;}
    100% {color: white; left:0px; top:0px;}
}

@-webkit-keyframes another {
    0% {background-color: white; left:0px; top:0px;}
    25% {background-color: greenyellow; left:200px; top:0px;}
    50% {background-color: blue; left:200px; top:200px;}
    75% {background-color: red; left:0px; top:200px;}
    100% {background-color: white; left:0px; top:0px;}
}

/* The element to apply the animation to */
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    line-height: 800px;
    font-size: 100px;
    color: rgb(255, 255, 255);
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
body {
    background-image: url("https://media.giphy.com/media/8aAA3bPVyAjra/giphy.gif");
    background-repeat: no-repeat;
    background-color: black;
    background-size: 800px 1100px;
}

header {
    text-align: center;
    font-size: 37px;
    color: Black;
    overflow: hidden;
    background-color: yellowgreen;
    opacity: .5;
    -webkit-animation-name: another;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
}

b {
    float: right;
    padding: 14px 16px;
}

a {
    float: left;
    padding: 14px 16px;
    border-right: 1px solid black;
}

p {
    color: white;
}

.active {
    background-color: white;
}

li {
    display: inline;
}