body {
    background-image: url("https://media.giphy.com/media/3o7aCRZYNerX4ovPwI/giphy.gif");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

li.bam {
    display: inline;
}

#content {
    font-size: 50px;
    text-align: center;
    background-color: lightblue;
    opacity: .5;
    width: 500px;
    align-content: center;
    margin-left: 500px;
    margin-bottom: 100px;
    padding: 200px 25px;
}

#content:hover {
    background-image: url("https://media.giphy.com/media/l46C9spZVnZN0Z60M/giphy.gif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#content1 {
    font-size: 50px;
    text-align: center;
    background-color: lightblue;
    opacity: .5;
    width: 500px;
    align-content: center;
    margin-left: 500px;
    margin-bottom: 100px;
    padding: 200px 25px;
}

#content1:hover {
    background-image: url("https://media.giphy.com/media/26BGDQxDCZDFHW5Ne/giphy.gif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#content2 {
    font-size: 50px;
    text-align: center;
    background-color: lightblue;
    opacity: .5;
    width: 500px;
    align-content: center;
    margin-left: 500px;
    margin-bottom: 100px;
    padding: 200px 25px;
}

#content2:hover {
    background-image: url("https://media.giphy.com/media/PLJzdMVafDLTW/giphy.gif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#content3 {
    font-size: 50px;
    text-align: center;
    background-color: lightblue;
    opacity: .5;
    width: 500px;
    align-content: center;
    margin-left: 500px;
    margin-bottom: 100px;
    padding: 200px 25px;
}

#content3:hover {
    background-image: url("https://media.giphy.com/media/vwjAf1EsSG7k1Jbtkx/giphy.gif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#content4 {
    font-size: 50px;
    text-align: center;
    background-color: lightblue;
    opacity: .5;
    width: 500px;
    align-content: center;
    margin-left: 500px;
    margin-bottom: 100px;
    padding: 200px 25px;
}

#content4:hover {
    background-image: url("https://media.giphy.com/media/Fk5fNSblPKLGU/giphy.gif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#content5 {
    font-size: 50px;
    text-align: center;
    background-color: lightblue;
    opacity: .5;
    width: 500px;
    align-content: center;
    margin-left: 500px;
    margin-bottom: 100px;
    padding: 200px 25px;
}

#content5:hover {
    background-image: url("https://media.giphy.com/media/bJodzp9O4fe24/giphy.gif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

footer {
    background-color: lightblue;
    width: 100%;
    opacity: .5;
}

footer:hover {
    background-color: grey;
}